<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	
	
	<!-- 扫描controller（controller层注入） -->
	<context:component-scan base-package="org.loyer.web.controller"/>
	
	<!-- 对模型视图添加前后缀 -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver"
	      p:prefix="/WEB-INF/jsp/" p:suffix=".jsp"/>
	
	<bean id="/my.do" class="org.loyer.web.controller.MyController" />
	<bean id="/stu.do" class="org.loyer.web.controller.StudentController" />
	<bean id="/addStu.do" class="org.loyer.web.controller.AddStuController" />
	<bean id="/add.do" class="org.loyer.web.controller.AddController" />
	<bean id="/updateStu.do" class="org.loyer.web.controller.UpdateStuController" />
	<bean id="/update.do" class="org.loyer.web.controller.UpdateController" />

</beans>